.AppButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    justify-content: center;
}

.clear {
    color: var(--primary-color);
    border: none;
    background: none;
}

.primary {
    border: none;
    background: var(--highlight-color);
    color: var(--primary-color);
}

.outlined {
    border: 1px solid var(--border-color);
    background: none;
    color: var(--primary-color);

    &:hover {
        border-color: var(--primary-color);
        background: var(--hover-color);
    }
}