.SidebarItem {
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid var(--app-bg-color);

    &:hover {
        border-color: var(--hover-color);
        background: var(--hover-color);
    }
}

.active {
    background: var(--hover-color);
}

.clicked {
    animation: changeBorderColor 1s;
}

@keyframes changeBorderColor {
    from {
        border-color: var(--primary-color);
    }

    to {
        border-color: var(--hover-color);
    }
}

.label {
    margin-left: 10px;
}