.ProfileDetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

.isLoading, 
.errorMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.bio {
    margin-top: 10px;
}

.button {
    font: var(--font-l);
    padding: 5px 10px;
    border-radius: 5px;
}